.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both
}
.fl{float:left;}
.fr{float:right;}
.tac{text-align: center;}
.tal{text-align: left;}
.tar{text-align: right;}